
config setup
	list dev 'wlan0'
#	list mdev 'mon0'
	option mac_db '/usr/share/macdb/db.txt'
	option port_db '/etc/services'
	option leases_input '/tmp/dhcp.leases'
	option json_output '/tmp/device-observatory.json'

	# Time after which a device is removed from the record
	option device_timeout 3600

	# Create monitoring interface mon0 based on physical interface wifi phy0.
	# See 'iw dev' output for a list of interfaces.
#	list create_monitor 'mon0'
