
config setup
	list dev 'wlan0'
#	list mdev 'wlan0'
	option mac_db '/usr/share/macdb/db.txt'
	option port_db '/etc/services'
	option leases_input '/tmp/dhcp.leases'
	option json_output '/tmp/device-observatory.json'
	# Time after which a device is removed from the record
	option device_timeout 3600

	# Setup AP and monitor device (overwrites dev and mdev)
	option setup_devices 1
